body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.students-table {
  margin-bottom: 5rem;
}


/**
  *   Login Page
**/

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: #FAFAFB;
  border-radius: 10px;
}

.form {
  width: 400px;
}