.notification {
    z-index: 6;
}

.icon {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0.8rem;
}

.success {
    color: #2ecc71;
}

.infos {
    color: #2980b9;
}

.warning {
    color: #e67e22;
}

.error {
    color: #e74c3c;
}